# ==============================================================================
# File: requirements.txt
# Dependencies required to run the File Organizer project.
# ==============================================================================

# Core Utility
tqdm

# Metadata Extraction
Pillow
pillow-heif
pymediainfo>=6.1.0
hachoir

# RAW Image Processing (New)
rawpy

# Documents & Archives
PyPDF2
python-docx
python-pptx
openpyxl
EbookLib

# Web Interface
Flask